body{
	font-family: 'Open Sans', sans-serif;
	background: url(./../images/background.png) repeat;
}
.margin-left{
	margin-left: 15px;
}
#navigation{
	background: #fff;
	border-bottom: 5px solid #e43f3f;
}
#navigation img{
	margin: 10px 0;
}
.menu-size{
	height: 50px;
}
#user{
	display: inline-block;
}
.pointer{
	cursor: pointer;
}
.login{
	height: 200px;
	background: #363636;
}
.login-text{
	width: 170px;
	height: 40px;
	background: #fff;
	margin: 85px auto 0 auto;
	padding-top: 5px;
	font-weight: bold;
	line-height: 2;
}
.friends{
	background: #fff;
	border-left: 1px solid #d8d8d8;
	padding: 73px 0 20px 0;
}
.friends-search-img{
	width: 30px;
	height: 30px;
	margin-top: 10px; 
	background: #000;
	display: inline-block;
	list-style: none;
	cursor: pointer;
}
.friends-search-img img{
	width: 30px;
}
#userSearch{
	font-style: italic;
	font-weight: lighter;
}
.friends-header{
	font-size: 12px;
	font-style: italic;
	margin: 10px 0 0 0;
	border-bottom: 1px solid #d8d8d8; 
}
.friends-list{
	margin: 5px 0 0 0;
	overflow-y: scroll;
	height: 400px;
}
.friends-list li{
	font-size: 12px;
	font-style: italic;
	margin: 5px 0 0 0;
	list-style-position: inside;
	list-style-image: url(./../images/list-bullet-black.png);
	cursor: pointer;
}
.friends-list li:hover{
	background: #d8d8d8;
	color: #fff;
}
.friends-list li img{
	width: 30px;
}
li.friends-active{
	list-style-image: url(./../images/list-bullet-blue.png);
}
.friends-active img{
	border: 2px solid #1182f5;
}
.friends-list-buttons{
	list-style: none;
	padding-top: 5px;
	padding-bottom: 5px;
}
.friends-list-buttons li{
	display: inline-block;
	margin-left: 10px; 
}
.friends-list-buttons li:hover{
	background: #fff;
}
.friends-list-buttons li img{
	width: 15px;
}
.friends-list-buttons li img:hover{
	transform: translateY(-5px);
}
.chat-row{
	height: 325px;
	float: right;
	position: fixed;
	z-index: 100;
	bottom: 0;
}
.chat-window{
	padding: 0 15px;
	float: right;
}
.chat-window-inner{
	padding: 0;
	background: #fff;
    border: 1px solid #d8d8d8;
}
.chat-top-bar{
	height: 20px;
	padding: 0;
	border-bottom: 1px solid #d8d8d8;
	border-radius: 0;
}
.chat-top-bar h3{
	font-size: 12px;
	font-style: italic;
    line-height: 1.5;
}
.chat-top-bar h3 img{
	margin-top: -2px;
}
.chat-top-bar span{
	color: #363636;
	cursor: pointer;
}
.chat-top-bar span:hover{
	color: #d8d8d8;
}
.no-border{
	border: none; 
	box-shadow: none;
}
.chat-body{
	padding: 0;
}
.chat-body ul{
	height: 200px;
	overflow-y: scroll;
	list-style: none;
}
.chat-body ul li .chat-message-wrapper{
	margin-bottom: 5px;
}
.chat-body ul li div{
	padding: 0;
}
.chat-body h6{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #d8d8d8;
}
.chat-body p{
	padding: 5px 0;
	margin: 0;
	font-size: 12px;
	font-style: italic;
	color: #fff;
}
.online-player{
	color: #1182f5;
}
.chat-body img{
	border: 2px solid #363636;
}
.chat-body .online-player img{
	border: 2px solid #1182f5;
}
p.chat-panel-message{
	margin: 0;
	padding: 12px 10px;
	background: #1182f5;
	border-radius: 15px;
	border-bottom: none;
}
.chat-body ul li div.chat-answer{
	float: right;
	padding-left: 5px;
}
.chat-footer{
	background: #fff;
	border: 0;
}
.new-message{
	padding: 5px;
}
.new-message input{
	padding-left: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
}
.new-message input, .new-message textarea{
	height: 50px;
	background: #f4f4f4;
	border: none;
	border-radius: 15px;
	resize: none;
}
.social{
	height: 50px;
	border-top: 3px solid #e43f3f;
	border-bottom: 1px solid #d8d8d8;
}
.social-list-group{
	height: 27px;
}
.social-list{
	display: inline-block;
	position: absolute;
}
.social-list:nth-child(1){
	margin-left: 24%;
}
.social-list:nth-child(2){
	margin-left: 37%;
}
.social-list:nth-child(3){
	margin-left: 50%;
}
li.social-list img{
 	margin: 5px 0 0;
}
.main{
	background: #fff;
	margin-top: 15px;
	border-top: 3px solid #e43f3f;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
}
.main-inner-wrapper{
	padding: 30px 20px;
}

@media screen and (min-width: 640px){
	.social-list:nth-child(1){
		margin-left: 40%;
	}
	.social-list:nth-child(2){
		margin-left: 45%;
	}
	.social-list:nth-child(3){
		margin-left: 50%;
	}
}
@media screen and (min-width: 990px){
	.nav-wrapper{
		position: fixed;
		width: 100%;
		z-index: 1111;
	}
	.login{
		height: 255px;
		background: #363636;
	}
	.login-text{
    	margin: 135px 0 0 15px;
   	}
	.border-bottom:hover{
		box-shadow: 0 5px 0 #fff;
	}
	.menu-size{
		width: 60px;
		height: 50px;
	}
	.friends{
		right: 0;
		position: fixed;
		z-index: 100;
	}
	.friends-row{
		float: right;
	}
	.friends-list{
		height: inherit;
	}
	#userSearch{
		width: 100%;
	}
	.social{
		margin-top: 0;
	}
	.social-list{
		position: relative;
	}
	.social-list:nth-child(1){
		margin-left: 0;
	}
	.social-list:nth-child(2){
		margin-left: 10px;
	}
	.social-list:nth-child(3){
		margin-left: 10px;
	}
}
@media screen and (min-width: 1024px){
	.social{
		height: 50px;
	}
	li.social-list img{
	 	margin: 8px 0 0 0;
	}
}
@media screen and (min-width: 1280px){
	.login-text{
    	margin: 135px 0 0 45px;
   	}
}